<!-- Hero Section -->
<section style="background: url(/assets/img/hero.jpg); background-size: cover; background-position: center center"
    class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>Free template from Bootstrap Temple!</h1><a routerLink class="hero-link">Discover
                    More</a>
            </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a> <!-- Fix this to add scrolling -->
    </div>
</section>
<!-- Intro Section -->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="h3">Hello! I made this website for school</h2>
                <p class="text-big">This website was made using the <Strong> MEAN </Strong> stack. I made this website
                during my final semester of studying at Seneca College.</p>
            </div>
        </div>
    </div>
</section>

<section class="featured-posts no-padding-top">
    <div class="container">
        <!-- Post -->
        <h1>Latest Posts</h1> <!--Fix this section to show my latest posts in the posts component-->

    </div>
</section>

<!-- This section can show my linkedIn-->
<!-- Divider Section-->
<section style="background: url(/assets/img/divider-bg.jpg); background-size: cover; background-position: center bottom"
    class="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <a href ="https://www.linkedin.com/in/michael-adrian-saldivar-5452ba177"><h3>Click here for my LinkedIn!</h3></a>
            </div>
        </div>
    </div>
</section>


<!-- Gallery Section-->
<section class="gallery no-padding">
    <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item"><a href="/assets/img/gallery-1.jpg" data-fancybox="gallery" class="image"><img
                        src="/assets/img/gallery-1.jpg" alt="..." class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i>
                    </div>
                </a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item"><a href="/assets/img/gallery-2.jpg" data-fancybox="gallery" class="image"><img
                        src="/assets/img/gallery-2.jpg" alt="..." class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i>
                    </div>
                </a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item"><a href="/assets/img/gallery-3.jpg" data-fancybox="gallery" class="image"><img
                        src="/assets/img/gallery-3.jpg" alt="..." class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i>
                    </div>
                </a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item"><a href="/assets/img/gallery-4.jpg" data-fancybox="gallery" class="image"><img
                        src="/assets/img/gallery-4.jpg" alt="..." class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i>
                    </div>
                </a></div>
        </div>
    </div>
</section>